{
        email rsdm34@gmail.com
}

(static) {
        @static {
                file
                path *.ico *.css *.js *.gif *.jpg *.jpeg *.png *.svg *.woff *.json
        }
        header @static Cache-Control max-age=5184000
}

(security) {
        header {
                # enable HSTS
                Strict-Transport-Security max-age=31536000;
                # dissable clients from sniffing
                X-Content-Type-Options nosniff
                # keep referrer data off
                Referrer-Policy no-referrer-when-downgrade
        }
}

import *.conf