{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-3 mb-4">
                <div class="url-container">
                    <div class="logo-and-title">
                        <h1 class="text-label">Shorten a long URL</h1>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" id="originalUrl" class="form-control" placeholder="Enter long link here" aria-label="Enter long link here" aria-describedby="shortenButton">
                    </div>
                    <div class="logo-and-title mt-4">
                        <h1 class="text-label">Customize your link</h1>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" id="alias" class="form-control" placeholder="Enter alias" aria-label="Enter alias" aria-describedby="shortenButton">
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" id="shortenButton">Shorten URL</button>
                    </div>
                    <div class="shortened-zone">
                        <div class="logo-and-title mt-4">
                            <h1 class="text-label">Shortened URL</h1>
                        </div>
                        <p class="shortened-url">
                            <a id="shortenedUrl" href="#" target="_blank"></a>
                        </p>
                        <div class="logo-and-title mt-3">
                            <h1 class="text-label">Quick QR</h1>
                        </div>
                        <div id="canvas-container" style="display: none; align-content: flex-start; align-self: flex-start">
                            <canvas id="qrImageCanvas" width="250" height="250" style="align-self: center"></canvas>
                        </div>
                        <button class="btn btn-secondary" type="button" id="copyButton" style="display: none">Copy</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-9">
                <div class="info-container">
                    <h1 class="text-info-label-h1">The OG of URL Shortener</h1>
                    <h2 class="text-info-label-h2">Create quick URLs with QuikLink.</h2>
                    <p class="text-info-label-p mt-4">
                        QuikLink, empowers users to create swift and efficient short URLs effortlessly. With its user-friendly interface, QuikLink stands as the go-to platform for quickly transforming lengthy web addresses into concise and shareable links. Simplifying the process, QuikLink ensures a seamless experience for users looking to share, manage, and track their links with ease. Streamline your online presence with QuikLink – the original and trusted choice for URL shortening.
                    </p>
                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
<script>
    document.getElementById("shortenButton").addEventListener("click", function () {
        const originalUrl = document.getElementById("originalUrl").value.toLowerCase();
        const alias = document.getElementById("alias").value
        const copyButton = document.getElementById("copyButton");

        if (!isURL(originalUrl)) {
            copyButton.style.display = "none"
            document.getElementById("originalUrl").value = "";
            document.getElementById("shortenedUrl").href = "#!";
            document.getElementById("shortenedUrl").textContent = "";
            alert("Enter a valid URL");
            return
        }

        const url = '/shorten';
        const data = {
            long_url: originalUrl,
            url_alias: alias
        };

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                const shortenedUrl = data["short_url"];

                copyButton.style.display = "inline"
                document.getElementById("shortenedUrl").href = shortenedUrl;
                document.getElementById("shortenedUrl").textContent = shortenedUrl;

                setQrImage(data["qrcode"])

                const shortenedZone = document.querySelector('.shortened-zone');
                shortenedZone.classList.add('show');
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });

    document.getElementById("copyButton").addEventListener("click", function () {
        const shortenedUrl = document.getElementById("shortenedUrl");
        const textArea = document.createElement("textarea");
        textArea.value = shortenedUrl.textContent;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("copy");
        document.body.removeChild(textArea);
        alert("Copied to clipboard");
    });

    checkUrlForRedirection()

    function isURL(text) {
        if (!text.includes("http") || !text.includes("https")) {
            return false
        }
        const urlPattern = /^(https?:\/\/)?([\w.-]+)\.([a-zA-Z]{2,})(\S*)$/;
        return urlPattern.test(text);
    }

    function setQrImage(data) {
        const bytes = data;
        const canvasContainer = document.getElementById("canvas-container");
        const canvas = document.getElementById("qrImageCanvas");
        const ctx = canvas.getContext("2d");
        const image = new Image();
        image.src = "data:image/png;base64," + bytes;
        image.onload = function() {
            ctx.drawImage(image, 0, 0);
            canvasContainer.style.display = "block";
        };
    }

    function checkUrlForRedirection() {
        {{$err := index .StringMap "url_not_found"}}
        {{if eq $err "url_not_found"}}
            alert("Unable to find the URL!!!");
        {{end}}
    }
</script>
{{end}}