{{template "base" .}}

{{define "content"}}
    <div class="home-container">
        <div class="row">
            <div class="col-sm-12 col-md-5 col-lg-5">
                <div class="col-md-12 col-lg-12">
                    <div class="url-container">
                        <div class="logo-and-title">
                            <h1 class="text-label">Shorten a long URL</h1>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" id="originalUrl" class="form-control" placeholder="Enter long link here" aria-label="Enter long link here" aria-describedby="shortenButton">
                        </div>
                        <div class="logo-and-title mt-4">
                            <h1 class="text-label">Customize your link</h1>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" id="alias" class="form-control" placeholder="Enter alias" aria-label="Enter alias" aria-describedby="shortenButton">
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-block" type="button" id="shortenButton">Shorten URL</button>
                        </div>
                    </div>
                    <div class="shortened-container" style="display: none">
                        <div class="logo-and-title">
                            <h1 class="text-label">Your Long URL</h1>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" id="longUrlBox" class="form-control" aria-describedby="shortenZone" readonly>
                        </div>
                        <div class="logo-and-title mt-4">
                            <h1 class="text-label">QuikLink</h1>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" id="shortenedUrlBox" class="form-control" aria-describedby="shortenZone" readonly>
                        </div>
                        <div class="button-group mb-1 btn-block" style="display: flex; width: 100%;">
                            <button class="btn btn-primary" type="button" id="openUrlButton" style="flex: 1; margin-right: 5px;">Open URL</button>
                            <button class="btn btn-primary" type="button" id="copyButton" style="flex: 1;">Copy Link</button>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-block" type="button" id="shortenAgainButton">Shorten another</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7">
                <div class="info-container">
                    <h1 class="text-info-label-h1">The OG of URL Shortener</h1>
                    <h2 class="text-info-label-h2">Create quick URLs with QuikLink.</h2>
                    <p class="text-info-label-p mt-4">
                        QuikLink, empowers users to create swift and efficient short URLs effortlessly. With its user-friendly interface, QuikLink stands as the go-to platform for quickly transforming lengthy web addresses into concise and shareable links. Simplifying the process, QuikLink ensures a seamless experience for users looking to share, manage, and track their links with ease. Streamline your online presence with QuikLink – the original and trusted choice for URL shortening.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
{{end}}

{{define "js"}}
<script>
    document.getElementById("shortenButton").addEventListener("click", function () {
        const originalUrl = document.getElementById("originalUrl").value.toLowerCase();
        const alias = document.getElementById("alias").value
        const copyButton = document.getElementById("copyButton");

        if (!isURL(originalUrl)) {
            copyButton.style.display = "none"
            document.getElementById("originalUrl").value = "";
            document.getElementById("shortenedUrl").href = "#!";
            document.getElementById("shortenedUrl").textContent = "";
            alert("Enter a valid URL");
            return
        }

        const url = '/shorten';
        const data = {
            long_url: originalUrl,
            url_alias: alias
        };

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                if (data["ok"] === false) {
                    alert(data["message"]);
                    window.location.reload();
                    return
                }

                const shortenedUrl = data["short_url"];
                copyButton.style.display = "inline"
                document.getElementById("longUrlBox").value = originalUrl;
                document.getElementById("shortenedUrlBox").value = shortenedUrl;

                //setQrImage(data["qrcode"])
                const urlContainer = document.querySelector('.url-container');
                urlContainer.style.display = "none";

                const shortenedContainer = document.querySelector('.shortened-container');
                shortenedContainer.classList.add('show');
                shortenedContainer.style.display = "block";
            })
            .catch(error => {
                alert(error);
                window.location.reload();
            });
    });

    document.getElementById("openUrlButton").addEventListener("click", function () {
        console.log("Event listener triggered");
        console.log("INSIDE OPEN URL")
        const shortenedUrl = document.getElementById("shortenedUrlBox");
        console.log("Shortened URL:", shortenedUrl.value); // Add this line
        window.open(shortenedUrl.value, '_blank');
    });

    document.getElementById("copyButton").addEventListener("click", function () {
        const shortenedUrl = document.getElementById("shortenedUrlBox");
        const textArea = document.createElement("textarea");
        textArea.value = shortenedUrl.value;
        document.body.appendChild(textArea);
        textArea.select();
        document.execCommand("copy");
        document.body.removeChild(textArea);
        alert("Copied to clipboard");
    });

    document.getElementById("shortenAgainButton").addEventListener("click", function () {
        document.getElementById("originalUrl").value = ""

        const urlContainer = document.querySelector('.url-container');
        urlContainer.style.display = "block";

        const shortenedContainer = document.querySelector('.shortened-container');
        shortenedContainer.style.display = "none";
    });

    checkUrlForRedirection()

    function isURL(text) {
        if (!text.includes("http") || !text.includes("https")) {
            return false
        }
        const urlPattern = /^(https?:\/\/)?([\w.-]+)\.([a-zA-Z]{2,})(\S*)$/;
        return urlPattern.test(text);
    }

    function setQrImage(data) {
        const bytes = data;
        const canvasContainer = document.getElementById("canvas-container");
        const canvas = document.getElementById("qrImageCanvas");
        const ctx = canvas.getContext("2d");
        const image = new Image();
        image.src = "data:image/png;base64," + bytes;
        image.onload = function() {
            ctx.drawImage(image, 0, 0);
            canvasContainer.style.display = "block";
        };
    }

    function checkUrlForRedirection() {
        {{$err := index .StringMap "url_not_found"}}
        {{if eq $err "url_not_found"}}
            alert("Unable to find the URL!!!");
        {{end}}
    }
</script>
{{end}}